<!DOCTYPE html>
<html>
  <head>
    <title>Web Video Chat 123</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <div class="jumbotron">
            <h1>Web Video Chat</h1>
            <p>2018 Fall EC441</p>
            <p>Juan Zapata, Hanchong Jin</p>
            <span class="glyphicon glyphicon-facetime-video"></span>
        </div>
        <div class="row text-middle">
            <div class="col col-md-6">
                <video id="localVideo" autoplay muted playsinline></video>
            </div>
            <div class="col col-md-6">
              <video id="remoteVideo" autoplay playsinline></video>
            </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

      <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
      <script src='/javascripts/index.js'></script>
  </body>
</html>
