body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.video-screen {
  text-align: center;
}

.jumbotron {
  padding-top: 1% !important;
  padding-bottom: 2% !important;
}

video {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

