body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  padding-top: 1% !important;
  padding-bottom: 2% !important;
}

.text-middle {
  margin: 0 !important; 
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}

video {

  width: 95%;
  /* margin-left: auto;
  margin-right: auto; */

  background: black;
}

