body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.video-screen {
  display: inline-block;
  text-align: center;
}

.jumbotron {
  padding-top: 1% !important;
  padding-bottom: 2% !important;
}

video {
  /* margin: 0 !important; */
  max-width: calc(50% - 100px);
  margin: 0 2%;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  background: black;
}

