body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  padding-top: 1% !important;
  padding-bottom: 2% !important;
  /* background-color: #666668 !important; */
  color: white !important;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-gear-circuit-board-and-arrows-tech-background-video-animation-hd-1920x1080_4j1mr68gx__F0009.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 3%;
}

.text-middle {
  margin: 0 !important;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}

video {

  width: 95%;
  /* margin-left: auto;
  margin-right: auto; */

  background: black;
}

